accounts.json
node.json
workspace.code-workspace


target/

.snfoundry_cache/
snfoundry_trace/
coverage.lcov
coverage_report/

scripts/deployment/deploy_devnet_alpha-sepolia_state.json
scripts/deployment/upgrade_fdp_devnet_alpha-sepolia_state.json

scripts/simulation/open_trove_alpha-sepolia_state.json
scripts/simulation/open_trove_max_forge_alpha-sepolia_state.json
scripts/simulation/provide_to_absorber_alpha-sepolia_state.json
scripts/simulation/crash_prices_alpha-sepolia_state.json

scripts/mainnet_admin.json
scripts/mainnet_admin_keystore.json
